.navigation-bar
  %ul
    %li= link_to 'Dale', '/index.html'
    %li= link_to 'Consulting', '/consulting.html'
    %li= link_to 'Blog', 'http://cwd.dhemery.com/'
    %li= link_to 'Articles', '/articles.html'
    %li= link_to 'About', '/about.html'
    %li= link_to 'Contact', '/contact.html'
